<div class="col-lg-9">
  <div class="container-fluid mb-5">
    <h2 class="text-muted mt-5 text-center">
      <% if @products.any? %>
        <%= @products.count %> resultados encontrados:
      <% else %>
        Nenhum Resultado encontrado
      <% end %>
    </h2>
    <div class="card-deck">
      <% @products.each do |product| %>
        <div class="card">
          <% if product.image.attached? %>
            <%= image_tag product.image, class:"img-fluid card-img-top", title:"#{product.product_description}" %>
          <% else %>
            <%= image_tag '/no_image.jpg', class:"img-fluid" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title text-center">
              <%= link_to "#{product.product_code}" '-' "#{product.product_description}", product_detail_path(product) %></h5>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="text-center">
    <%= link_to 'Voltar', root_path, class:"btn btn-secondary mt-2 mb-4 p-3 " %>
  </div>
</div>
