<div class="col-lg-9">
  <div class="card mt-5">
    <% if @product.image.attached? %>
      <%= image_tag @product.image, title:"#{@product.product_description}",
        class:"img-fluid #{@product.status_dimension ? 'img_horizontal' : 'img_vertical'}" %>
    <% else %>
      <%= image_tag '/no_image.jpg', class:"img-fluid" %>
    <% end %>
    <div class="card-body">
      <h3 class="card-title text-center"><%= @product.product_code %> - <%= @product.product_description %></h3>
      <h4 class="text-center mb-2">Dados Cadastrais</h4>
      <div class="row">
        <div class="col-md-6">
          <ul class="list-group">
            <li class="list-group-item"><strong>Ean:</strong> <%= @product.product_ean %></li>
            <li class="list-group-item"><strong>Ean Display:</strong> <%= @product.display_ean.presence || "Não possui" %></li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul class="list-group">
            <li class="list-group-item"><strong>Ean CX:</strong> <%= @product.product_dun %></li>
            <li class="list-group-item"><strong>Ncm:</strong> <%= @product.tax_classification.tax_code %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /.card -->
  <div class="card card-outline-secondary my-4">
    <div class="card-header text-center">
      Produtos Similares
    </div>
    <div class="card-body">
      <% if @product.similar_products.any? %>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Descrição</th>
              <th scope="col">Ean</th>
              <th scope="col">Dun</th>
              <th scope="col">Ean display</th>
            </tr>
          </thead>
          <tbody>
            <% @product.similar_products.each do |similar_product| %>
              <tr>
                <td><%= similar_product.code %></td>
                <td><%= similar_product.description %></td>
                <td><%= similar_product.ean %></td>
                <td><%= similar_product.dun %></td>
                <td><%= similar_product.display.presence || "Não possui" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p class="text-muted">Nenhum produto similar encontrado.</p>
      <% end %>
    </div>
  </div>
  <div class="text-center">
    <%= link_to 'Voltar', root_path, class:"btn btn-secondary mt-2 mb-4 p-3 " %>
  </div>
</div>
