<%= form_with model: [:dashboard, @group], local: true do |f| %>
  <div class="row mb-3 offset-md-2">
    <div class="form-group col-md-2">
      <label>Linha</label>
      <%= collection_select(:group, :line_id, Line.all, :id, :line_description, prompt: "Selecione", class:"form-control") %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :group_code %>
      <%= f.text_field :group_code, class: "form-control" %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :group_description %>
      <%= f.text_field :group_description, class: "form-control" %>
    </div>
  </div>
  <div class="text-center">
    <%= f.submit class: 'btn btn-success', data: { disable_with: 'Criando....⌛'} %>
    <%= link_to 'Cancelar', dashboard_groups_path, class: "btn btn-danger ml-1" %>
  </div>
<% end %>
