<div class="col-lg-3 mt-5 mb-5">
  <% Line.joins(:products).distinct.each do |line| %>
    <div class="menu">
      <div class="accordion">
        <div class="accordion-group">
          <div class="accordion-heading area">
            <a class="accordion-toggle" data-toggle="collapse" href="#<%= line.line_description %>"><%= line.line_description %></a>
          </div>
          <div class="accordion-body collapse" id="<%= line.line_description%>">
            <div class="accordion-inner">
              <% line.groups.each do |group| %>
                <div class="accordion">
                  <div class="accordion-group">
                    <div class="accordion-heading equipamento">
                      <a class="accordion-toggle" data-toggle="collapse" href="#gp<%= group.group_code %>"><%= group.group_description %></a>
                    </div>
                    <div class="accordion-body collapse" id="gp<%= group.group_code %>">
                      <div class="accordion-inner">
                        <% group.families.each do |family| %>
                          <div class="accordion-heading ponto">
                            <%= link_to family.family_description, family_detail_path(family), class:"accordion-toggle" %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
