<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <%= link_to 'Catálogo Digital Nestlé', root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <%= link_to 'Faça seu pedido!', href="https://www.atevc.com.br/Sistema/401", class: "btn btn-warning mr-2", target: "_blank" %>
      <ul class="navbar-nav ml-auto">
        <%= form_with url: search_product_search_index_path, method: :get, local: true, class:"form-inline my-2 my-lg-0" do |f| %>
          <%= f.search_field :q, class:"form-control mr-sm-2", type:"search", placeholder:"Search", required: true  %>
          <%= f.submit 'Buscar', class:"btn btn-outline-success my-2 my-sm-0", data: { disable_with: 'Buscando....⌛'} %>
        <% end %>
      </ul>
        <%= link_to 'Login', dashboard_index_path, class:"btn btn-success ml-auto" %>
    </div>
  </div>
</nav>
