<!DOCTYPE html>
<html>
  <head>
  <%= favicon_link_tag asset_path('favicon.ico') %>
    <title>Catalogo Digital Nestlé</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="manifest" href="/manifest.json" />
  <link rel="manifest" href="/manifest.json" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes"></head>
  <body>
    <%#= render 'layouts/shared_home/nav'%>
        <%= yield %>
    <%#= render 'layouts/shared_home/footer' %>
  </body>
</html>
