<!DOCTYPE html>
<html>
  <head>
    <title>Catalogo Digital Nestlé</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes"></head>
  </head>
  <body class="mt-5">
    <%= render 'layouts/shared_home/nav' %>
    <div class="container">
      <div class="row">
        <%= render 'layouts/shared_home/menu' %>
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/shared_home/footer' %>
  </body>
</html>
